<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-light">
        <img class="navbar-brand" src="../assets/images/logo/pro_man.png" width="150" height="70">

        <ul class="navbar-nav">
            <li><a class="nav-link text-muted ml-5" routerLink="home">Home</a></li>
            <li><a class="nav-link text-muted ml-3" routerLink="about">About</a></li>
            <li><a class="nav-link text-muted ml-3" routerLink="contact">Contact</a></li>
        </ul>
    </nav>    
</header>
